* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-bright-red: hsl(12, 88%, 59%);
    --primary-dark-blue: hsl(228, 39%, 23%);

    --neutral-grayish-blue: hsl(227, 12%, 61%);
    --neutral-very-dark-blue: hsl(233, 12%, 13%);
    --neutral-very-pale-red: hsl(13, 100%, 96%);
    --neutral-very-light-grey: hsl(0, 0%, 98%);
}

body {
    font-family: 'Be Vietnam', sans-serif;
}

p {
    font-size: 16px;
}

/* Desktop */
@media only screen and (min-width: 865px) {
    
}